@charset "UTF-8";
@font-face {
  font-family: "YS Display";
  src: url("../fonts/YS-Display-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "YS Display";
  src: url("../fonts/YS-Display-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); /* Исходный размер элемента */
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2); /* Увеличенный размер на 200% */
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); /* Возврат к исходному размеру */
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); /* Исходный размер элемента */
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2); /* Увеличенный размер на 200% */
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); /* Возврат к исходному размеру */
  }
}
/* Обычное состояние и состояние посещенной ссылки */
a {
  color: rgba(255, 255, 255, 0.15);
}

/* Состояние наведения */
a:hover {
  color: #B4AFFF;
}

/* Состояние активации */
a:active {
  color: #ff0000;
}

/* Состояние фокуса */
a:focus {
  color: #B4AFFF;
}

html {
  overflow: hidden;
}

body {
  position: relative;
  width: 100vw;
  height: 100dvh;
  background: url("../img/SVG/Ellipse-35.svg") -54.9768518519vw -54.9768518519vw no-repeat, -webkit-gradient(linear, left top, left bottom, from(#392E47), to(#100D22)) no-repeat;
  background: url("../img/SVG/Ellipse-35.svg") -54.9768518519vw -54.9768518519vw no-repeat, linear-gradient(180deg, #392E47 0%, #100D22 100%) no-repeat;
  background-size: auto, 100vw 100dvh;
  overflow: hidden;
}

.age-verification-page-body {
  position: relative;
  width: 100vw;
  height: 100dvh;
  background: url("../img/SVG/18+.svg") center right no-repeat, url("../img/SVG/Ellipse-35.svg") -54.9768518519vw -54.9768518519vw no-repeat, -webkit-gradient(linear, left top, left bottom, from(#392E47), to(#100D22)) no-repeat;
  background: url("../img/SVG/18+.svg") center right no-repeat, url("../img/SVG/Ellipse-35.svg") -54.9768518519vw -54.9768518519vw no-repeat, linear-gradient(180deg, #392E47 0%, #100D22 100%) no-repeat;
  background-size: contain, auto, 100vw 100dvh;
}

.make-a-mix-body {
  position: relative;
  width: 100vw;
  height: 100dvh;
  background: url("../img/SVG/Ellipse-35.svg") -54.4560185185vw -53.3564814815vw no-repeat, -webkit-gradient(linear, left top, left bottom, from(#392E47), to(#100D22)) no-repeat;
  background: url("../img/SVG/Ellipse-35.svg") -54.4560185185vw -53.3564814815vw no-repeat, linear-gradient(180deg, #392E47 0%, #100D22 100%) no-repeat;
  background-size: auto, 100vw 100dvh;
}

.cocktail-recipes-body {
  position: relative;
  width: 100vw;
  height: 100dvh;
  background: url("../img/SVG/Ellipse-35.svg") -54.4560185185vw -53.3564814815vw no-repeat, -webkit-gradient(linear, left top, left bottom, from(#392E47), to(#100D22)) no-repeat;
  background: url("../img/SVG/Ellipse-35.svg") -54.4560185185vw -53.3564814815vw no-repeat, linear-gradient(180deg, #392E47 0%, #100D22 100%) no-repeat;
  background-size: auto, 100vw 100dvh;
}

.audioplayer-body {
  width: 100vw;
  height: 100dvh;
  background: url("../img/audioplayer-bg.png") center center no-repeat, url("../img/SVG/Ellipse-35.svg") -54.9768518519vw -54.9768518519vw no-repeat, -webkit-gradient(linear, left top, left bottom, from(#392E47), to(#100D22)) no-repeat;
  background: url("../img/audioplayer-bg.png") center center no-repeat, url("../img/SVG/Ellipse-35.svg") -54.9768518519vw -54.9768518519vw no-repeat, linear-gradient(180deg, #392E47 0%, #100D22 100%) no-repeat;
  background-size: cover, auto, 100vw 100dvh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 11.9068934646dvh;
}

/* Гамбургер иконка */
.menu-btn {
  margin: 5.0925925926vw 4.8611111111vw 0 0;
  width: 2.8935185185vw;
  height: 2.8935185185vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 11;
  cursor: pointer;
}

.menu-btn span {
  width: 2.3148148148vw;
  height: 0.2314814815vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 0.8101851852vw);
}

.menu-btn span:nth-of-type(3) {
  top: calc(50% + 0.8101851852vw);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
  display: none;
}

.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
      -ms-transform: translate(-50%, 0%) rotate(45deg);
          transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(-45deg);
      -ms-transform: translate(-50%, 0%) rotate(-45deg);
          transform: translate(-50%, 0%) rotate(-45deg);
}

/* Меню, которое будет появляться */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 27.1990740741vw;
  height: 27.1990740741vw;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  border-radius: 2.1412037037vw;
  background: -webkit-gradient(linear, right top, left top, color-stop(7.37%, #181715), color-stop(7.38%, #181715), color-stop(106.48%, rgba(24, 23, 21, 0.32)));
  background: linear-gradient(270deg, #181715 7.37%, #181715 7.38%, rgba(24, 23, 21, 0.32) 106.48%);
  -webkit-backdrop-filter: blur(11.5px);
          backdrop-filter: blur(11.5px);
  z-index: 10;
}

.menu.active {
  -webkit-transform: translateX(5%);
      -ms-transform: translateX(5%);
          transform: translateX(5%);
}

.menu ul {
  width: 20.0231481481vw;
  height: 14.6412037037vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2731481481vw;
  margin: 10.4166666667vw 0 3.0092592593vw 3.1828703704vw;
}

.menu li {
  color: rgba(255, 255, 255, 0.15);
  font-family: YS Display;
  font-size: 1.7361111111vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.880787037vw; /* 108.333% */
}

.link-active {
  color: #FFF;
  font-family: YS Display;
  font-size: 1.7361111111vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.880787037vw; /* 108.333% */
}

.link-sub-active {
  color: rgba(255, 255, 255, 0.35);
  font-family: YS Display;
  font-size: 1.7361111111vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.880787037vw; /* 108.333% */
}

.link-sub-active:visited {
  color: rgba(255, 255, 255, 0.35);
  font-family: YS Display;
  font-size: 1.7361111111vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.880787037vw; /* 108.333% */
}

.logo {
  margin: 8.236347359dvh 0 0 14.0555058192dvh;
  width: 17.4574753805dvh;
  height: 4.5658012534dvh;
  background: url("../img/SVG/logo.svg") no-repeat;
  background-size: contain;
}

.logo-symbol {
  display: none;
  position: relative;
  color: black;
  font-family: YS Display;
  font-style: normal;
  font-weight: 600;
  font-size: 3.2229185318dvh;
}

.logo-symbol::before {
  content: "";
  display: none;
  width: 4.5156669651dvh;
  height: 4.5156669651dvh;
  position: absolute;
  top: -0.6266786034dvh;
  left: -1.0743061773dvh;
  background: #FFF;
  border-radius: 50%;
  z-index: -1;
}

.logo-word {
  display: none;
  color: rgb(255, 255, 255);
  font-family: YS Display;
  font-style: normal;
  font-weight: 500;
  font-size: 3.2229185318dvh;
}

h1 {
  position: relative;
  margin: 13.5684870188dvh 0 0 14.0555058192dvh;
  font-family: YS Display;
  font-size: 4.4762757386dvh;
  font-style: normal;
  font-weight: 700;
  line-height: 4.7000895255dvh; /* 105% */
  width: 40.376007162dvh;
  background: var(--Yandex-text, linear-gradient(272deg, #A09BF4 19.72%, #FFE5CD 121.59%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 3;
}

.make-a-mix-h1 {
  position: relative;
  margin: 13.5684870188dvh 0 0 14.0555058192dvh;
  font-family: YS Display;
  font-size: 4.4762757386dvh;
  font-style: normal;
  font-weight: 700;
  line-height: 4.7000895255dvh; /* 105% */
  width: 40.376007162dvh;
  background: var(--Yandex-text, linear-gradient(272deg, #A09BF4 19.72%, #FFE5CD 121.59%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cocktail-recipes-h1 {
  margin: 14.1450313339dvh 0 0 14.0555058192dvh;
  font-family: YS Display;
  font-size: 4.4762757386dvh;
  font-style: normal;
  font-weight: 700;
  line-height: 4.2524619517dvh; /* 105% */
  width: 57.0277529096dvh;
  background: var(--Yandex-text, linear-gradient(272deg, #A09BF4 19.72%, #FFE5CD 121.59%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.audioplayer-h1 {
  position: relative;
  margin: 13.5684870188dvh 0 0 14.0555058192dvh;
  font-family: YS Display;
  font-size: 4.4762757386dvh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 40.376007162dvh;
  background: var(--Yandex-text, linear-gradient(272deg, #A09BF4 19.72%, #FFE5CD 121.59%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 3;
}

.cocktail-recipes-pic-1 {
  margin: 9.5792300806dvh 0 0 16.2041181737dvh;
  width: 32.2291853178dvh;
  height: 56.4905998209dvh;
  background: url("../img/glass_1.png") center center no-repeat;
  background-size: contain;
}

.cocktail-recipes-pic-2 {
  margin: 9.5792300806dvh 0 0 16.2041181737dvh;
  width: 32.2291853178dvh;
  height: 56.4905998209dvh;
  background: url("../img/glass_2.png") center center no-repeat;
  background-size: contain;
}

.cocktail-recipes-pic-3 {
  margin: 9.5792300806dvh 0 0 16.2041181737dvh;
  width: 32.2291853178dvh;
  height: 56.4905998209dvh;
  background: url("../img/glass_3.png") center center no-repeat;
  background-size: contain;
}

.cocktail-recipes-pic-4 {
  margin: 9.5792300806dvh 0 0 16.2041181737dvh;
  width: 32.2291853178dvh;
  height: 56.4905998209dvh;
  background: url("../img/glass_4.png") center center no-repeat;
  background-size: contain;
}

.cocktail-recipes-pic-5 {
  margin: 9.5792300806dvh 0 0 16.2041181737dvh;
  width: 32.2291853178dvh;
  height: 56.4905998209dvh;
  background: url("../img/glass_5.png") center center no-repeat;
  background-size: contain;
}

.cocktail-recipes-pic-6 {
  margin: 11.1906893465dvh 0 0 25.3357206804dvh;
  width: 47.0904207699dvh;
  height: 51.4771709937dvh;
  background: url("../img/shaker_0.png") center center no-repeat;
  background-size: contain;
}

.cocktail-recipes-pic-7 {
  margin: 12.6230975828dvh 0 0 17.2784243509dvh;
  width: 47.0904207699dvh;
  height: 51.4771709937dvh;
  background: url("../img/shaker_1.png") center center no-repeat;
  background-size: contain;
}

.cocktail-recipes-pic-8 {
  margin: 11.7278424351dvh 0 0 16.6517457475dvh;
  width: 47.0904207699dvh;
  height: 51.4771709937dvh;
  background: url("../img/shaker_2.png") center center no-repeat;
  background-size: contain;
}

.cocktail-recipes-pic-9 {
  margin: 14.5926589078dvh 0 0 17.2784243509dvh;
  width: 59.8030438675dvh;
  height: 45.1208594449dvh;
  background: url("../img/shaker_3.png") center center no-repeat;
  background-size: contain;
}

.cocktail-recipes-pic-10 {
  margin: 17.63652641dvh 0 0 14.503133393dvh;
  width: 33.4825425246dvh;
  height: 41.9874664279dvh;
  background: url("../img/shaker_4.png") center center no-repeat;
  background-size: contain;
}

.under-h1 {
  position: relative;
  margin: 6.5353625783dvh 0 0 14.0555058192dvh;
  width: 61.6830796777dvh;
  color: #FFF;
  font-family: YS Display;
  font-size: 2.6857654432dvh;
  font-style: normal;
  font-weight: 400;
  line-height: 2.9095792301dvh; /* 108.333% */
  z-index: 3;
}
.under-h1 strong {
  color: #FFF;
  font-family: YS Display;
  font-size: 2.6857654432dvh;
  font-style: normal;
  font-weight: 700;
  line-height: 2.9095792301dvh;
}

.age-verification-page-under-h1 {
  margin: 3.4914950761dvh 0 0 14.0555058192dvh;
}

.make-a-mix-under-h1 {
  margin: 3.4914950761dvh 0 0 14.0555058192dvh;
}

.cocktail-recipes-under-h1 {
  margin: 4.8343777977dvh 0 0 14.0555058192dvh;
  width: 61.6830796777dvh;
  color: #FFF;
  font-family: YS Display;
  font-size: 2.6857654432dvh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.audioplayer-under-h1 {
  position: relative;
  margin: 6.5353625783dvh 0 0 14.0555058192dvh;
  width: 52.8200537153dvh;
  color: #FFF;
  font-family: YS Display;
  font-size: 2.6857654432dvh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 3;
}

.smart-screen-block {
  margin: 15.4879140555dvh 0 0 21.3965980304dvh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 34px;
}

.smart-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 27.5738585497dvh;
  height: 54.0734109221dvh;
  background: url("../img/smart-screen-1.png") top left no-repeat;
  background-size: contain;
}

.smart-screen-instruction-pic-2 {
  background: url("../img/smart-screen-2.png") top left no-repeat;
  background-size: contain;
}

.smart-screen-instruction-pic-3 {
  background: url("../img/smart-screen-3.png") top left no-repeat;
  background-size: contain;
}

.smart-screen-instruction-pic-4 {
  background: url("../img/smart-screen-4.png") top left no-repeat;
  background-size: contain;
}

.smart-screen-instruction-pic-5 {
  background: url("../img/smart-screen-5.png") top left no-repeat;
  background-size: contain;
}

.smart-screen-instruction-pic-6 {
  background: url("../img/smart-screen-6.png") top left no-repeat;
  background-size: contain;
}

.smart-screen::after {
  content: "";
  position: absolute;
  top: 10.7430617726dvh;
  left: 13.8764547896dvh;
  width: 4.2076991943dvh;
  height: 4.2076991943dvh;
  background: url("../img/SVG/crosshair.svg") center center no-repeat;
  background-size: contain;
  -webkit-animation: pulse 1.7s ease-in-out infinite;
          animation: pulse 1.7s ease-in-out infinite;
}

.smart-screen-instruction-pic-2::after {
  content: "";
  position: absolute;
  top: 22.8290062668dvh;
  left: 15.2193375112dvh;
  width: 4.2076991943dvh;
  height: 4.2076991943dvh;
  background: url("../img/SVG/crosshair.svg") center center no-repeat;
  background-size: contain;
  -webkit-animation: pulse 1.7s ease-in-out infinite;
          animation: pulse 1.7s ease-in-out infinite;
}

.smart-screen-instruction-pic-3::after {
  content: "";
  position: absolute;
  top: 42.0769919427dvh;
  left: 12.4440465533dvh;
  width: 4.2076991943dvh;
  height: 4.2076991943dvh;
  background: url("../img/SVG/crosshair.svg") center center no-repeat;
  background-size: contain;
  -webkit-animation: pulse 1.7s ease-in-out infinite;
          animation: pulse 1.7s ease-in-out infinite;
}

.smart-screen-instruction-pic-4::after {
  content: "";
  position: absolute;
  top: 12.533572068dvh;
  left: 14.0555058192dvh;
  width: 4.2076991943dvh;
  height: 4.2076991943dvh;
  background: url("../img/SVG/crosshair.svg") center center no-repeat;
  background-size: contain;
  -webkit-animation: pulse 1.7s ease-in-out infinite;
          animation: pulse 1.7s ease-in-out infinite;
}

.smart-screen-instruction-pic-5::after {
  content: "";
  position: absolute;
  top: 25.0671441361dvh;
  left: 19.2479856759dvh;
  width: 4.2076991943dvh;
  height: 4.2076991943dvh;
  background: url("../img/SVG/crosshair.svg") center center no-repeat;
  background-size: contain;
  -webkit-animation: pulse 1.7s ease-in-out infinite;
          animation: pulse 1.7s ease-in-out infinite;
}

.smart-screen-instruction-pic-6::after {
  content: "";
  position: absolute;
  top: 22.8290062668dvh;
  left: 19.6956132498dvh;
  width: 4.2076991943dvh;
  height: 4.2076991943dvh;
  background: url("../img/SVG/crosshair.svg") center center no-repeat;
  background-size: contain;
  -webkit-animation: pulse 1.7s ease-in-out infinite;
          animation: pulse 1.7s ease-in-out infinite;
}

.smart-screen::before {
  content: "";
  position: absolute;
  top: -15.2193375112dvh;
  left: -14.8612354521dvh;
  width: 17.0993733214dvh;
  height: 26.8576544315dvh;
  background: url("../img/1.png") top left no-repeat;
  background-size: contain;
}

.smart-screen-instruction-pic-2::before {
  content: "";
  background: url("../img/2.png") top left no-repeat;
  background-size: contain;
  top: -12.533572068dvh;
  left: -11.1011638317dvh;
  width: 13.9659803044dvh;
  height: 26.8576544315dvh;
}

.smart-screen-instruction-pic-3::before {
  content: "";
  background: url("../img/3.png") top left no-repeat;
  background-size: contain;
  top: -11.6383169203dvh;
  left: -10.7430617726dvh;
  width: 16.472694718dvh;
  height: 26.8576544315dvh;
}

.smart-screen-instruction-pic-4::before {
  content: "";
  background: url("../img/4.png") top left no-repeat;
  background-size: contain;
  top: -11.1906893465dvh;
  left: -13.4288272158dvh;
  width: 15.4879140555dvh;
  height: 26.8576544315dvh;
}

.smart-screen-instruction-pic-5::before {
  content: "";
  background: url("../img/5.png") top left no-repeat;
  background-size: contain;
  top: -11.6383169203dvh;
  left: -10.7430617726dvh;
  width: 14.9507609669dvh;
  height: 26.8576544315dvh;
}

.smart-screen-instruction-pic-6::before {
  content: "";
  background: url("../img/6.png") top left no-repeat;
  background-size: contain;
  top: -10.7430617726dvh;
  left: -9.8478066249dvh;
  width: 14.2345568487dvh;
  height: 26.8576544315dvh;
}

.smart-screen-instruction-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 4.4762757386dvh 0;
  width: 43.5094001791dvh;
  color: #FFF;
  font-family: YS Display;
  font-size: 2.6857654432dvh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.smart-screen-link {
  color: #FFF;
  font-family: YS Display;
  font-size: 2.6857654432dvh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  cursor: pointer;
}

.lights-under-h1 {
  margin: 6.5353625783dvh 0 0 14.0555058192dvh;
  width: 61.6830796777dvh;
  color: #FFF;
  font-family: YS Display;
  font-size: 2.6857654432dvh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.make-a-mix-3d-objects {
  display: none;
}

.make-a-mix-bottle {
  margin: 0 -54.1629364369dvh 0 0;
  bottom: -78.7824529991dvh;
  right: 0vw;
  position: fixed;
  width: 95.6018518519vw;
  height: 295.8818263205dvh;
  background: url("../img/bottle-mix.png") top right no-repeat;
  background-size: contain;
  z-index: -1;
}

.coctail-recipes-bottle {
  margin: 0 -54.1629364369dvh 0 0;
  bottom: -78.7824529991dvh;
  right: 0vw;
  position: fixed;
  width: 95.6018518519vw;
  height: 295.8818263205dvh;
  background: url("../img/bottle.png") top right no-repeat;
  background-size: contain;
}

.footer-buton {
  bottom: -20.0537153089dvh;
  right: -14.5926589078dvh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65.2641002686dvh;
  height: 65.2641002686dvh;
  border-radius: 50%;
  border: 1px solid #B4AFFF;
  background: #9B94FF;
  z-index: 2;
  cursor: pointer;
}

.footer-button-text {
  margin: 30.4386750224dvh 0 0 21.4861235452dvh;
  color: #F5F5F5;
  text-align: center;
  font-family: YS Display;
  font-size: 4.4762757386dvh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.lights-footer-button {
  bottom: -20.0537153089dvh;
  right: -14.5926589078dvh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65.2641002686dvh;
  height: 65.2641002686dvh;
  border-radius: 50%;
  border: 1px solid #B4AFFF;
  background: #9B94FF;
  -webkit-box-shadow: 0px 0px 184px 0px #B53CFF;
          box-shadow: 0px 0px 184px 0px #B53CFF;
  z-index: 2;
  cursor: pointer;
  pointer-events: auto;
}

.make-a-mix-footer-button {
  top: 54.521038496dvh;
  right: -17.0098478066dvh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65.5326768129dvh;
  height: 65.5326768129dvh;
  border-radius: 50%;
  border: 1px solid #B4AFFF;
  background: url("../img/SVG/Ellipse-6.svg") center center no-repeat, -webkit-gradient(linear, left top, right top, color-stop(4.93%, #8E6D45), color-stop(48.16%, #FFD3AA), color-stop(93.22%, #93734E));
  background: url("../img/SVG/Ellipse-6.svg") center center no-repeat, linear-gradient(90deg, #8E6D45 4.93%, #FFD3AA 48.16%, #93734E 93.22%);
  background-size: 95%, contain;
  z-index: 2;
  cursor: pointer;
  pointer-events: auto;
}

.feel-the-rythm-footer-buton {
  bottom: -20.0537153089dvh;
  right: -14.5926589078dvh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65.2641002686dvh;
  height: 65.2641002686dvh;
  border-radius: 50%;
  border: none;
  background: url("../img/button_play.png") right bottom no-repeat;
  background-size: contain;
  z-index: 2;
  cursor: pointer;
}

.feel-the-rythm-plastinka {
  bottom: -77.5290957923dvh;
  right: -71.9785138765dvh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  width: 180.2148612355dvh;
  height: 180.2148612355dvh;
  background: url("../img/plastinka.png") center center no-repeat;
  background-size: contain;
  -webkit-box-shadow: 0px 0px 250px 0px rgba(166, 184, 249, 0.8);
          box-shadow: 0px 0px 250px 0px rgba(166, 184, 249, 0.8);
  z-index: 1;
}

.feel-the-rythm-pic {
  bottom: 5.1924798568dvh;
  right: -1.163831692dvh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 99.0510295434dvh;
  height: 86.739480752dvh;
  background: url("../img/feel-the-rythm.png") center center no-repeat;
  background-size: contain;
  z-index: 2;
}

.feel-the-rythm-footer-button-symbol {
  position: relative;
  margin: 24.6195165622dvh 0 0 23.7242614145dvh;
  width: 15.7564905998dvh;
  height: 15.7564905998dvh;
  border-radius: 50%;
  background: url("../img/play_button.png") center center no-repeat;
  background-size: contain;
  z-index: 2;
}

.gerland {
  bottom: 0dvh;
  right: 0dvh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90.1521933751dvh;
  height: 90.1521933751dvh;
  background: url("../img/light_2_off.png") bottom right no-repeat;
  background-size: contain;
  z-index: 3;
  pointer-events: none;
}

.gerland-instruction-1 {
  background: url("../img/gerlang-instruction-1.png") bottom right no-repeat;
  background-size: contain;
}

.gerland-instruction-2 {
  background: url("../img/gerlang-instruction-2.png") bottom right no-repeat;
  background-size: contain;
}

.gerland-instruction-3 {
  background: url("../img/gerlang-instruction-3.png") bottom right no-repeat;
  background-size: contain;
}

.gerland-instruction-4 {
  background: url("../img/gerlang-instruction-4.png") bottom right no-repeat;
  background-size: contain;
}

.gerland-instruction-5 {
  background: url("../img/gerlang-instruction-5.png") bottom right no-repeat;
  background-size: contain;
}

.gerland-instruction-6 {
  background: url("../img/gerlang-instruction-6.png") bottom right no-repeat;
  background-size: contain;
}

.lights-footer-button:after {
  content: "";
  position: absolute;
  bottom: 18.5317815577dvh;
  right: 13.6974037601dvh;
  width: 37.9588182632dvh;
  height: 32.8558639212dvh;
  background: url("../img/smart-home.png") bottom right no-repeat;
  background-size: contain;
  z-index: -1;
}

.lights-footer-button-arrow {
  margin: 17.9051029543dvh 0 0 17.9051029543dvh;
  width: 29.0957923008dvh;
  height: 28.9167412713dvh;
  background: url("../img/SVG/arrow_button.svg") center center no-repeat;
  background-size: contain;
}

.footer-button-arrow {
  margin: 12.8021486124dvh 0 0 16.5622202328dvh;
  width: 28.2005371531dvh;
  height: 28.9167412713dvh;
  background: url("../img/SVG/arrow_button.svg") center center no-repeat;
  background-size: contain;
}

.audioplayer-play-button {
  position: fixed;
  left: 14.0555058192dvh;
  bottom: 5.3715308863dvh;
  width: 13.9659803044dvh;
  height: 13.9659803044dvh;
  border-radius: 50%;
  background: url("../img/play_button.png") center center no-repeat;
  background-size: contain;
  cursor: pointer;
}

.audioplayer-pause-button {
  position: fixed;
  left: 14.0555058192dvh;
  bottom: 5.3715308863dvh;
  width: 13.9659803044dvh;
  height: 13.9659803044dvh;
  border-radius: 50%;
  background: url("../img/pause_button.png") center center no-repeat;
  background-size: contain;
  cursor: pointer;
}

.audioplayer-timeline {
  position: fixed;
  left: 32.6768128917dvh;
  bottom: 5.3715308863dvh;
  width: 73.8585496867dvh;
  height: 13.2497761862dvh;
  background: url("../img/audioplayer-timeline.png") center center no-repeat;
  background-size: contain;
}

.audioplayer-timeline-numbers {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 107.4306177261dvh;
  bottom: 8.5049239033dvh;
  width: 8.5049239033dvh;
  height: 4.3867502238dvh;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 0px 3.0438675022dvh #000;
  font-family: YS Display;
  font-size: 2.6857654432dvh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.audioplayer-youtube-button {
  position: fixed;
  right: 7.4306177261dvh;
  bottom: 6.6248880931dvh;
  width: 26.5890778872dvh;
  height: 10.7430617726dvh;
  background: url("../img/audioplayer-youtube-button.png") center center no-repeat;
  background-size: contain;
  cursor: pointer;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease; /* Добавляем анимацию */
}

.layer1 {
  background-image: url("../img/SVG/lights1.svg");
  background-size: 100%;
}

.layer2 {
  background-image: url("../img/SVG/lights2.svg");
  background-size: 100%;
}

.layer3 {
  background-image: url("../img/SVG/lights3.svg");
  background-size: 100%;
}

.age-verification-page-links {
  margin: 4.3867502238dvh 0 0 14.0555058192dvh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 28.6481647269dvh;
  height: 4.1181736795dvh;
  gap: 1.7905102954dvh;
}

.no-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #FFF;
  border-radius: 10px;
  width: 13.4288272158dvh;
  height: 4.1181736795dvh;
  color: #FFF;
  text-align: center;
  font-family: YS Display;
  font-size: 1.8800358102dvh;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  z-index: 1;
}

.yes-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0px solid #FFF;
  border-radius: 10px;
  background: #9B94FF;
  width: 13.4288272158dvh;
  height: 4.1181736795dvh;
  color: #FFF;
  text-align: center;
  font-family: YS Display;
  font-size: 1.8800358102dvh;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  z-index: 1;
}